#users{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.cards{
    height: 250px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px;
}